@import '../../../styles/_colors';

.fileNameContainer {
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4px 5px;
    background: $white;
    width: 160px;
}

.iconContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3px;
}

.fileNameInput {
    border: none;
    height: 14px;
    width: 100px;
}

.fileButton {
    height: 12px;
    width: 12px;
    cursor: pointer;
}