@import '../../styles/_colors';

.sexyButtonCommon {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 1px 3px 1px 3px;
    font-size: 12px;
}

.sexyButton {
    composes: sexyButtonCommon;
    background-color: $lightGreen;
    color: $medGrey;
    cursor: pointer;
    &:hover {
        background-color: $medGrey;
        color: $lightGreen;
        border: 2px solid $lightGreen;
        // border-bottom: 2px solid $lightGreen;
        // border-radius: 70%;
        transition-duration: 400ms;
        transition-property: background-color color border;
        transition-timing-function: linear;
    }
}

.disabled {
    composes: sexyButtonCommon;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}