@import '../../styles/_colors';

.container {
    width: 100%;
}

.inputContainer {
    position: relative;
    width: 100%;
}

.codeEditor {
    width: 100%;
}

.codeContainer {
    display: flex;
}
