@import '../../styles/_colors';

.dropDownContainer {
    position: relative;
    display: inline-block;
}

.dropDown {
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: $faintGrey;
    border: 1px solid $darkGrey;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropDownLeft {
    composes: dropDown;
    right: 0;
}

.dropDownRight {
    composes: dropDown;
    left: 0;
}

.listItem {
    text-align: center;
    color: $darkGrey;
    cursor: pointer;
    font-size: 12px;
    &:hover {
        background-color: $medGrey;
    }
}

.dropDownButton {
    cursor: pointer;
    min-height: 15px;
    min-width: 80px;
    // color: $darkGrey;
    background: colorWithAlpha($faintGrey, 0.5);
    border: none;
    display: block;
    // border-radius: 5px;
    &:hover {
        background: colorWithAlpha($faintGrey, 1);
    }
}

.buttonContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.arrowContainer {
    display: inline-flex;
    align-items: center;
    padding-top: 3px;
}

.downArrow {
    margin: 0 0 0 3px;
    width: 0; 
    height: 0; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid $darkGrey;
}

.checkMark {
    display: inline-block;
    fill: $darkGrey;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}