@import '../../../styles/_colors';

.accountIcon {
    height: 12px;
    width: 12px;
}

.accountContainer {
    height: 25px;
}

.separator {
    margin: 0 0 8px 0;
    width: 100%;
    border-color: $black;
}

.accountInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountInfo {
    width: fit-content;
    color: $lightGreen;
    margin: 5px 0;
}