@import '../../../styles/_colors';

.accountContainer {
    height: 30px;
}

.accountButton {
    height: 30px;
    padding: 2.5px 0 0 0;
}

.separator {
    margin: 0 0 8px 0;
    width: 100%;
    border-color: $black;
}

.accountInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountInfo {
    width: fit-content;
    color: $lightGreen;
    margin: 0px 0;
}