.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100%;
}

.header {
    height: 15%;
    border: 1px solid black;
}

.body {
    height: 85%;
}