@import '../../../styles/_colors';

.header {
    height: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: colorWithAlpha($faintGrey, 0.5);
}